body {
    font-family: 'Roboto', sans-serif;
}

.bloverview {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.bloverview figcaption {
    text-align: center;
}

.bloverview figure {
    display: inline-block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.bloverview img {
    width: 300px; /* should allow 4 images in a row on 1280 screen resolution */
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1px;
    text-align: center;
    vertical-align: middle;
}

td {
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td img {
    margin: auto;
    display: block;
}

th span {
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    font-family: sans-serif;
}

.flag {
    border: 1px solid #777777;
}

.tablearea {
    border: 1px solid black;
    overflow-y: scroll;
    overflow-x: scroll;
    width: 100%;
    max-height: 670px;
    display: inline-block;
}

.tableFixHead th {
    background-color: white;
    border-top-width: 2px;
    box-shadow: 3px 2px 5px 1px rgba(0, 0, 0, 0.5);
    padding: 3px;
    position: sticky;
    top: -1px;
}

.sticky-left {
    background: white;
    border: 1px solid black;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
    left: -1px;
    position: sticky;
    text-align: left;
    white-space: nowrap;
    z-index: 99;
}
